<div class='content clearfix'>
    <p class="content-header">Kontakt</p>
    <p class="content-text">
    <br/>
    <a href="#/home/Saban">zurück zu home</a>
    <br/>
    <form id="myForm" name="form1" method="post">
        <label for="name">Name:</label>
        <input name="name" type="text" autofocus required id="name" form="myForm">
        <label for="email">Email:</label>
        <input name="email" type="email" required id="email" form="myForm">
        <label for="date">Datum:</label>
        <input name="date" type="date" id="date" form="myForm" max="2015-12-31" min="2013-01-01">
        <label for="msg">Nachricht:</label>
        <textarea name="msg" rows="10" required id="msg" form="myForm" ></textarea>
    </form>
    </p>
</div>